@namespace TimeWise.Shared.Scheduler

@using Data.Scheduler
@using TimeWise.Modules.Helpers
@using MudBlazor

@inject ISnackbar Snackbar

    @if(Solution is not null)
    {
        @if (Solution.Status)
        {
        <div class="min-h-20">
            <div class="md:flex">
                <div class="m-3 md:m-5">
                    <div>
                        <h3 class="text-lg my-4">
                            A traditional algorithm
                        </h3>
                    </div>

                    <div class="d-flex flex-column mb-5">
                    @if (ComparisonAlgorithmSuccessful)
                    {
                        <div class="d-flex flex-row">
                            <MudText>Costs per worker per hour:</MudText>
                            <MudText Class="ml-2"> @($"{GetHourlyCost(AlternativeSolution, Problem):N}")€</MudText>
                            <p class="w-4"></p>
                        </div>

                        <div class="d-flex flex-row">
                            <MudText>Average strain per shift:</MudText>
                            <MudText Class="ml-2"> @($"{GetAverageStrain(AlternativeSolution, Problem):N}")</MudText>
                            <p class="w-4"></p>
                        </div>
                    } else
                    {
                        <div class="p-2 px-3 my-3 bg-neutral-800 rounded-lg">
                            <MudText Color="Color.Error">Alternative algorithm could not generate schedule.</MudText>
                        </div>
                    }
                    </div>
                </div>

                <div class="m-3 md:m-5">
                    <div>
                        <h3 class="text-lg my-4">
                            TimeWise ILP-Algorithm
                        </h3>
                    </div>

                    <div class="d-flex flex-column mb-10">
                        <div class ="d-flex flex-row">
                            <MudText>Total personnel costs:</MudText>
                            <MudText Class="ml-2"> @($"{Solution.ObjectiveCost:N}")€</MudText>
                            <p class="w-4"></p>

                            @if (ComparisonAlgorithmSuccessful)
                            {
                                @if (Solution.ObjectiveCost < AlternativeSolution.ObjectiveCost)
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" Size="Size.Medium" Color="Color.Success"></MudIcon>
                                    <MudText Color="Color.Success">@(CalcPercentage(AlternativeSolution.ObjectiveCost, Solution.ObjectiveCost).ToString("0.00"))%</MudText>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" Size="Size.Medium" Color="Color.Error"></MudIcon>
                                    <MudText Color="Color.Error">@(CalcPercentage(AlternativeSolution.ObjectiveCost, Solution.ObjectiveCost).ToString("0.00"))%</MudText>
                                }
                            }
                        </div>
                        <div class="d-flex flex-row">
                            <MudText>Costs per worker per hour:</MudText>
                            <MudText Class="ml-2"> @($"{GetHourlyCost(Solution, Problem):N}")€</MudText>
                            <p class="w-4"></p>

                            @if (ComparisonAlgorithmSuccessful)
                            {
                                @if (Solution.ObjectiveCost < AlternativeSolution.ObjectiveCost)
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" Size="Size.Medium" Color="Color.Success"></MudIcon>
                                    <MudText Color="Color.Success">@(CalcPercentage(GetHourlyCost(AlternativeSolution, Problem), GetHourlyCost(Solution, Problem)).ToString("0.00"))%</MudText>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" Size="Size.Medium" Color="Color.Error"></MudIcon>
                                    <MudText Color="Color.Error">@(CalcPercentage(GetHourlyCost(AlternativeSolution, Problem), GetHourlyCost(Solution, Problem)).ToString("0.00"))%</MudText>
                                }
                            }
                        </div>
                        <div class="d-flex flex-row">
                            <MudText>Average strain per shift:</MudText>
                            <MudText Class="ml-2"> @($"{GetAverageStrain(Solution, Problem):N}")</MudText>
                            <p class="w-4"></p>
                       
                            @if (ComparisonAlgorithmSuccessful)
                            {
                                @if (GetAverageStrain(Solution, Problem) < GetAverageStrain(AlternativeSolution, Problem))
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" Size="Size.Medium" Color="Color.Success"></MudIcon>
                                    <MudText Color="Color.Success">@(CalcPercentage(GetAverageStrain(AlternativeSolution, Problem), GetAverageStrain(Solution, Problem)).ToString("00.00"))%</MudText>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" Size="Size.Medium" Color="Color.Error"></MudIcon>
                                    <MudText Color="Color.Error">@(CalcPercentage(GetAverageStrain(AlternativeSolution, Problem), GetAverageStrain(Solution, Problem)).ToString("00.00"))%</MudText>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>

            <MudAutocomplete Style="color: white" Clearable="true" OnClearButtonClick="_ => inputName = string.Empty" T="string" Label="Search by Employee" SearchFunc="SearchEmployee" Class="px-3 mb-8" @bind-Value="inputName" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
            <MudCheckBox T="bool" @bind-Checked="expandTree">Tree fully expanded</MudCheckBox>

            @if (inputName == string.Empty)
            {
                <MudTreeView T="string" ExpandOnClick="true">
                    @foreach (var weekI in Enumerable.Range(0, Solution.Result.Count))
                    {
                        <MudTreeViewItem Value="@("Week " + (weekI + 1).ToString())" Expanded="@expandTree">
                            @foreach (var dayI in Enumerable.Range(0, Solution.Result[weekI].Count))
                            {
                                <MudTreeViewItem Value="@("Day " + (dayI + 1).ToString())" Expanded="@expandTree">
                                    @foreach (var timeSlotI in Enumerable.Range(0, Solution.Result[weekI][dayI].Count))
                                {
                                    <MudTreeViewItem Value="@("Time Slot " + (timeSlotI + 1).ToString())" Expanded="@expandTree">
                                        @foreach (var shiftI in Enumerable.Range(0, Solution.Result[weekI][dayI][timeSlotI].Count))
                                    {
                                        <MudTreeViewItem Value="@Problem.Schedule.Weeks[weekI].Days[dayI].TimeSlots[timeSlotI].Shifts[shiftI].Name" Expanded="@expandTree">
                                            @foreach (var employeeName in Solution.Result[weekI][dayI][timeSlotI][shiftI])
                                        {
                                            <MudTreeViewItem Value="@employeeName" />
                                        }
                                    </MudTreeViewItem>
                                    }
                                </MudTreeViewItem>
                                }
                            </MudTreeViewItem>
                            }
                        </MudTreeViewItem>
                    }
                </MudTreeView>
            }
            else
            {
                // Filter logic
                var indicesCollection = StringHelper.FindStringIndices(Solution, inputName);
                <MudTreeView T="string" ExpandOnClick="true">
                    @foreach (var weekI in indicesCollection.Select(x => x.Item1).Distinct())
                    {
                        <MudTreeViewItem Value="@("Week " + (weekI + 1).ToString())" Expanded="@expandTree">
                            @foreach (var dayI in indicesCollection.Where(x => x.Item1 == weekI).Select(x => x.Item2).Distinct())
                            {
                                <MudTreeViewItem Value="@("Day " + (dayI + 1).ToString())" Expanded="@expandTree">
                                    @foreach (var timeSlotI in indicesCollection.Where(x => x.Item1 == weekI && x.Item2 == dayI).Select(x => x.Item3).Distinct())
                                {
                                    <MudTreeViewItem Value="@("Time Slot " + (timeSlotI + 1).ToString())" Expanded="@expandTree">
                                        @foreach (var shiftI in indicesCollection.Where(x => x.Item1 == weekI && x.Item2 == dayI && x.Item3 == timeSlotI).Select(x => x.Item4).Distinct())
                                    {
                                        <MudTreeViewItem Value="@Problem.Schedule.Weeks[weekI].Days[dayI].TimeSlots[timeSlotI].Shifts[shiftI].Name" Expanded="@expandTree" />
                                    }
                                </MudTreeViewItem>
                                }
                            </MudTreeViewItem>
                            }
                        </MudTreeViewItem>
                    }
                </MudTreeView>
            }
            
        </div>
        }
        else{
            Snackbar.Add("The model couldn't be solved. Please change your options and click 'generate solution' again.");
        }
    }
    else
    {
        <div class="h-20 flex justify-center items-center text-lg">
            No schedule to display.
        </div>
    }

@code {
    [Parameter]
    public Problem Problem { get; set; } = default!;

    [Parameter]
    public Solution Solution { get; set; } = default!;

    [Parameter]
    public Solution AlternativeSolution { get; set; } = default!;

    [Parameter]
    public bool ComparisonAlgorithmSuccessful { get; set; } = false;

    private bool expandTree = false;

    private string inputName = string.Empty;

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        await Task.Delay(1);
        var workersName = Problem.Workers.Select(emp => emp.Name);
        if (string.IsNullOrEmpty(value))
            return workersName;
        return workersName.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private double CalcPercentage(double oldValue, double newValue)
    {
        return (newValue - oldValue) / oldValue * 100;
    }

    private double GetAverageStrain(Solution solution, Problem problem)
    {
        var strain = solution.ObjectiveStrain;

        for (var i=0; i<strain.Count; i++)
        {
            strain[i] = new Tuple<string, double>(
                strain[i].Item1, strain[i].Item2 / GetTotalShifts(solution, problem, strain[i].Item1)
            );

            Console.WriteLine(GetTotalHours(solution, problem, strain[i].Item1));
        }

        return strain.Where(x => !Double.IsNaN(x.Item2)).Average(x => x.Item2);
    }

    private double GetHourlyCost(Solution solution, Problem problem)
    {
        var totalHours = GetTotalHours(solution, problem);

        return solution.ObjectiveCost / totalHours;
    }

    private double GetTotalHours(Solution solution, Problem problem, string workerName = "")
    {
        return solution.Result.Select(
            (week, weekI) => week.Select(
                (day, dayI) => day.Select(
                    (timeSlot, timeSlotI) => timeSlot.Select(
                        (shift, shiftI) => shift.Select(
                            s => workerName == "" 
                                ? problem.Schedule.Weeks[weekI].Days[dayI].TimeSlots[timeSlotI].Shifts[shiftI].Length
                                : s == workerName
                                    ? problem.Schedule.Weeks[weekI].Days[dayI].TimeSlots[timeSlotI].Shifts[shiftI].Length
                                    : 0
                        ).Sum()
                    ).Sum()
                ).Sum()
            ).Sum()
        ).Sum();
    }

    private double GetTotalShifts(Solution solution, Problem problem, string workerName)
    {
        return solution.Result.Select(
            (week, weekI) => week.Select(
                (day, dayI) => day.Select(
                    (timeSlot, timeSlotI) => timeSlot.Select(
                        (shift, shiftI) => shift.Select(
                            s => s == workerName ? 1 : 0
                        ).Sum()
                    ).Sum()
                ).Sum()
            ).Sum()
        ).Sum();
    }
}